@model IEnumerable<ProjectSEM3.DAL.Models.Entity.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="~/Areas/Uploand/@item.Images" alt="">
                        </div>
                        
                            
                            @Html.ActionLink(item.Name, "Detail", new { id = item.Id }) 
                        <div class="product-carousel-price">
                            <ins>@item.price</ins> @*<del>$999.00</del>*@
                        </div>

                        <div class="product-option-shop">
                            @using (Html.BeginForm("AddCart", "Product", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="id" name="id" value="@item.Id" />
                                <input type="hidden" name="quantity" id="quantity" value="1" />
                                <button class="add_to_cart_button" data-quantity="1" data-product_sku="" data-productid="" rel="nofollow" type="submit">Add to cart</button>
                            }
                        </div>
                    </div>
                </div>
            }


        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>