
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container form-login">

    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="input-group col-md-1">
                <label>UserName</label>
            </div>
            <div class="col-md-9"> <input type="text" name="UserName" id="UserName" placeholder="UserName" class="form-control" /></div>
        </div>
        <div class="row">
            <div class="input-group col-md-1">
                <label for="exampleInputEmail1">Password</label>
            </div>

            <div class="col-md-9">
                <input type="password" name="Password" id="Password" placeholder="Password" class="form-control" />

            </div>
        </div>
        <div class="row">
            <div class="input-group col-md-1">
                <label for="exampleInputEmail1">PasswordNew</label>
            </div>
            <div class="col-md-9">
                <input type="password" name="PasswordNew" id="PasswordNew" placeholder="PasswordNew" class="form-control" />
            </div>

        </div>

        <br />
        <div class="row">
            <div class="col-8">

            </div>
            <!-- /.col -->
            <div class="col-4">
                <button type="submit">Forgot</button>
            </div>
            <!-- /.col -->
        </div>
    }

</div>
