@model ProjectSEM3.DAL.Models.Entity.Customer
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!-- Email input -->
        <div class="form-outline mb-4">
            @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "UserName" })
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
        </div>

        <!-- 2 column grid layout for inline styling -->
       

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        
    }


