@model ProjectSEM3.DAL.Models.Entity.Customer
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-login {
        padding: 50px;
    }
    .padd15 {
        padding-top: 15px;
    }
    .btn-register{
        padding: 11px 22px;
    }
</style>

<div class="container form-login">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {


        @Html.AntiForgeryToken()
        <form>
            <h2 style="text-align:center">Login</h2>
            <div class="form-group padd15">
                <label for="exampleInputEmail1">UserName</label>
                @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "UserName" })
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group padd15">
                <label for="exampleInputPassword1">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-info btn-register"><a href="/Home/Register">Register</a></button>
        </form>

        <!-- Email input -->
        <!--<div class="form-outline mb-4">

        </div>-->
        <!-- Password input -->
        <!--<div class="form-outline mb-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
        </div>-->
        <!-- 2 column grid layout for inline styling -->
        <!-- Submit button -->
        <!--<button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>-->
        <!-- Register buttons -->
    }
</div>

